<div class="container mt-5">
  <h2 class="text-center mb-4">Cập nhật Thông tin Người dùng</h2>
  <form action="/edituser" method="POST" class="border p-4 rounded shadow-sm bg-light">
      <div class="form-group mb-3">
          <label for="id">ID Người dùng:</label>
          <input type="text" id="id" name="id" class="form-control" value="<%= data.row.id %>" required readonly>
      </div>
      
      <div class="form-group mb-3">
          <label for="username">Tên đăng nhập:</label>
          <input type="text" id="username" name="username" class="form-control" value="<%= data.row.username %>" required>
      </div>
      
      <div class="form-group mb-3">
          <label for="password">Mật khẩu:</label>
          <input type="password" id="password" name="password" class="form-control" value="<%= data.row.password %>" required>
      </div>
      
      <div class="form-group mb-3">
          <label for="fullname">Họ và tên:</label>
          <input type="text" id="fullname" name="fullname" class="form-control" value="<%= data.row.fullname %>" required>
      </div>
      
      <div class="form-group mb-3">
          <label for="address">Địa chỉ:</label>
          <input type="text" id="address" name="address" class="form-control" value="<%= data.row.address %>" required>
      </div>
      
      <div class="form-group mb-3">
          <label for="sex">Giới tính:</label>
          <select id="sex" name="sex" class="form-select" required>
            <option value="other" <% if(data.row.sex === 'other') { %>selected<% } %>>Khác</option>
              <option value="male" <% if(data.row.sex === 'male') { %>selected<% } %>>Nam</option>
              <option value="female" <% if(data.row.sex === 'female') { %>selected<% } %>>Nữ</option>
   
          </select>
      </div>
      
      <div class="form-group mb-3">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" value="<%= data.row.email %>" required>
      </div>
      
      <button type="submit" class="btn btn-primary w-100">Cập nhật</button>
  </form>
</div>
